body, html {
    background: #464;
}

#backstage {
    position:relative;
    /*left: 30px;*/
}

#nextGame {
    position: absolute;
    width: 88px;
    height: 24px;
    text-align: center;
    left: 6px;
    top: 6px;

    border-radius: 4px;
    background: none;
}

#back {
    position: absolute;
    width: 88px;
    height: 24px;
    text-align: center;
    left: 6px;
    bottom: 6px;
    border-radius: 4px;
    background: none;
}

.tile {
    position: absolute;
    width:100px;
    height:144px;
    border: 1px solid #777;
    border-bottom-color: #444;
    border-right-color: #444;
    border-radius: 7px;
    background-repeat: no-repeat;
    color: #cdc;
}

.card {
    background-image: url("../img/card_deck_50.png");
}

.cardBack {
    background-image: url("../img/card_deck_back_50.png") !important;
    background-position: -8px -8px !important;
}

.slot {
    background-image: url("../img/card_deck_place_50.png");
}

.heap {
    background-image: none;
}

.ghostCard {
    visibility: hidden;
}

.counterTile {
    position: absolute;
    width: 120px;
    height: 24px;
    border: none;
}

#counterTile {
    left: 16px;
    top: 76px;
    text-align: left;
}

#cashTile {
    right: 16px;
    top: 52px;
    text-align: right;
    font-weight: bold;
}

.adminWrapper {
    left: 240px;
}
#slotKreuz {
    left: 360px;
    background-position: -7px -168px;
}
#slotPik {
    left: 480px;
    background-position: -7px -488px;
}
#slotHerz {
    left: 600px;
    background-position: -7px -328px;
}
#slotKaro {
    left: 720px;
    background-position: -7px -8px;
}

#closedHeap {
    left:0;
}

#openHeap {
    left:120px;
}